@charset "utf-8";
@import url(reset.css);
@import url(font.css);
@import url(all.min.css);

div.wrapper {
    margin: 70px auto 0;
    padding: 0 50px;
    max-width: 800px;
}
div.thispost {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    margin-bottom: 20px;
    padding: 15px 5px; 
}
div.thispost div.title_area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 10px;
}
div.thispost div.btn_area {
    text-align: right;
}
div.thispost p.title {
    width: calc(80% - 30px - 150px);
    font-weight: 600;
    color: black;
    line-height: 1.5;
    margin-right: 10px;
}
div.thispost p.writer {
    width: 20%;    
    text-align: right;
    margin-right: 15px;
    font-size: 14px;
}
div.thispost p.date {
    width: 150px;
    max-width: 150px;
    font-size: 14px;
    text-align: right;
}
div.thispost p.content {
    line-height: 1.5;
}

div.btn_area {
    text-align: right;
    margin-bottom: 20px;
}
div.btn_area button:first-child {
    margin-right: 10px;
}
p.alert {
    line-height: 200px;
    font-weight: 600;
    font-size: 20px;
    color: black;
    text-align: center;
}

div.thispost figure {
    margin: 0 auto 10px;
}

div.btn_area_modify {
    text-align: center;
    margin: 30px auto 50px;
}
div.btn_area_modify button:first-child {
    margin-right: 10px;
}

div.thisreply {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}
div.thisreply div.reply_content {
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-wrap: wrap;
    width: 100%;
    border-radius: 5px;
    padding: 10px 20px;
    background-color: #f2f2f2;
}
div.thisreply p.content_reply {
    width: calc(80% - 165px);
    color: black;
}
div.thisreply p.writer_reply {
    width: 20%;    
    text-align: right;
    margin-right: 15px;
    font-size: 14px;
}
div.thisreply p.date_reply {
    width: 150px;
    max-width: 150px;
    font-size: 14px;
    text-align: right;
}
div.thisreply div.replyOrDelete {
    text-align: right;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
div.thisreply div.reply {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
div.thisreply button {
    padding: 7px 10px;
    font-size: 14px;
    color: white;
    display: block;
    width: 50px;
    margin-left: 15px;
    box-sizing: border-box;
}
div.thisreply button.rereply {
    background-color: #0d6efd;
}
div.thisreply button.rereply:hover,
div.thisreply button.rereply:focus {
    background-color: #0b5ed7
}
div.thisreply button.btnDeleteReply,
.btnDeleteRereply {
    background-color: #dc3545;
}
div.thisreply button.btnDeleteReply:hover,
div.thisreply button.btnDeleteReply:focus,
.btnDeleteRereply:hover,
.btnDeleteRereply:focus {
    background-color: #bb2d3b;
}

div.replyInput {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}
div.replyInput textarea {
    width: calc(100% - 100px)
}
span.btnDeleteReply {
    padding: 6px;
    font-size: 18px;
    margin-left: 10px;
    color: red;
    text-align: center;
    cursor: pointer;
}

div.replyOrDelete textarea.rereplyInput {
    margin-left: 30px;
    width: calc(100% - 95px)
}

div.thisrereply {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
}
div.thisrereply div.rereply {
    display: flex;
    justify-content: space-between;
    align-items: start;
    width: 100%;
    flex-wrap: wrap;
    border-radius: 5px;
    padding: 10px 20px;
    background-color: #f2f2f2;
    margin-left: 30px;
}
div.thisrereply div.rereply div.rereply_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}
div.thisrereply div.rereply div.rereply_content p.content_rereply {
    width: calc(80% - 165px);
    color: black;
}
div.thisrereply div.rereply div.rereply_content p.writer_rereply {
    width: 20%;
    text-align: right;
    margin-right: 15px;
    font-size: 14px;
}
div.thisrereply div.rereply div.rereply_content p.date_rereply {
    width: 150px;
    font-size: 14px;
    text-align: right;
}




@media screen and (max-width: 768px) {
    div.wrapper {
        margin-top: 80px;
        padding: 0 4%;
    }
    div.thispost div.title_area {
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
        margin-bottom: 10px;
    }
    div.thispost p.title {
        width: 100%;
        font-weight: 600;
        color: black;
        margin-bottom: 10px;
        margin-right: 0;
    }
    div.thispost p.writer {
        width: auto;
        margin-right: 15px; 
        font-size: 14px;
    }
    div.thispost p.date {
        width: auto;
        font-size: 14px;
        text-align: left;
    }
    div.thispost p.content {
        line-height: 1.5;
    }
    
    div.thisreply p.content_reply {
        width: 100%;
        margin-bottom: 10px;
    }
    div.thisreply p.writer_reply {
        width: auto;    
        text-align: left;
        margin-right: 15px;
    }
    div.thisreply p.date_reply {
        width: auto;
        text-align: right;
    }
    
    div.thisrereply div.rereply div.rereply_content p.content_rereply {
        width: 100%;
        color: black;
    }
    div.thisrereply div.rereply div.rereply_content p.writer_rereply {
        width: auto;
        text-align: left;
        margin-right: 15px;
        font-size: 14px;
    }
    div.thisrereply div.rereply div.rereply_content p.date_rereply {
        width: 150px;
        font-size: 14px;
        text-align: right;
    }
}