@charset "utf-8";
@import url(reset.css);
@import url(font.css);

div.container {
    margin-top: 70px;
    max-width: 600px;
}
div.btn_area {
    margin-top: 50px;
    text-align: center;
}
div.btn_area button {
    display: block;
    margin: 0 auto 20px;
}