@charset "utf-8";
@import url(reset.css);
@import url(font.css);

div.container {
    margin-top: 70px;
    max-width: 600px;
}
div.container textarea {
    height: 300px;
}
div.btn_area {
    text-align: center;
    margin-top: 20px;
}